* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #EEF9BF;

}

/*--Formatação do título--*/
.titulo-principal {
    color: #75B79E;
    width: 100%;
    height: 63px;
    margin-top: 45px;

    font-size: 56px;
    font-weight: 700;

    text-align: center;
}

/*--Formatação do container--*/
.container {
    width: 972px;
    margin: auto;
    margin-top: 82px;

    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.carta,
.frente,
.verso {
    background-color: #A7E9AF;
    height: 146px;
    width: 117px;

    border-radius: 5px;

    display: flex;
    position: relative;

}

.carta img {
    width: 100px;
    height: 100px;
    margin: auto;
}

.card {
    display: flex;
    position: absolute;
    z-index: 1;
}

.frente {
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
}

.verso {
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
}

/*--Formatação do mobile--*/
@media (max-width: 335px) {
    .container {
        width: 100%;
    }

    .titulo-principal {
        width: 90%;
        font-size: 36px;

        margin: auto;
        margin-top: 30px;

        text-align: center;
        justify-content: center;
    }
}