* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #E5E5E5;
}

/*--Formatação do título--*/
.titulo-principal {
    background-color: red;
    color: #75B79E;
    width: 100%;
    height: 63px;
    margin-top: 45px;

    font-size: 56px;
    font-weight: 700;

    text-align: center;
}

/*--Formatação do container--*/
.container {
    background-color: blue;
    height: 580px;
    width: 100%;

    margin-top: 10px;
}

/*--Formatação dos cartões--*/